.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  padding-bottom: 10px;
}

.header .header__title {
  font-size: 20px;
  font-weight: 600;
}

.header .header__icon {
  font-size: 18px;
  margin-left: 10px;
}

.header .header__arrow {
  font-size: 20px;
}
