.js-form,
.js-toDoForm,
.js-greetings {
  text-align: center;
  padding-top: 30px;
}

.js-form input {
  width: 300px;
  border: ;
  text-align: center;
}

.js-toDoForm input {
  width: 300px;
  text-align: center;
  border: ;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.js-greetings {
  color: black;
}

.js-toDoList {
  padding-top: 30px;
}

.js-toDoList button {
  margin-bottom: 10px;
}

.js-toDoList span {
  margin-left: 10px;
}
