.nav {
  position: fixed;
  background-color: #fcfcfc;
  width: 100%;
  padding: 30px 50px;
  bottom: 0;
  left: 0;
  border: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}
